<header>
  <ul>
    <li>
      <img src="../../../assets/logo.svg" alt="logo" />
      <span>Beta</span>
    </li>
    <li>
      <img src="../../../assets/rocketseat-logo.svg" alt="rocketseat-logo" />
      <p>Rocketseat</p>
      <span>PRO</span>
      <img src="../../../assets/chevron-down.svg" alt="chevron-down" />
    </li>
    <li>
      Ignite
      <img src="../../../assets/chevron-down.svg" alt="chevron-down" />
    </li>
  </ul>

  <section class="profile_infos">
    <div>
      <h3>John Doe</h3>
      <p>john@nivo.video</p>
    </div>

      <img src="../../../assets/perfil.svg" alt="" />
      <img src="../../../assets/chevron-down.svg" alt="chevron-down" />
  </section>
</header>

