:host {
  width: 120rem;
  padding-top: 4rem;

  header {
    width: 100%;

    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      li {
        border-right: 1px solid #3b3b3b;
        padding-right: 12px;
      }

      li:first-child {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          color: #71717a;
          font-size: 1rem;
          padding: 4px 8px;
          background-color: #18181b;
          border-radius: 12px;
          font-weight: 700;
        }
      }

      li:nth-child(2) {
        display: flex;
        align-items: center;
        gap: 8px;

        p {
          font-size: 1.4rem;
          font-weight: 600;
        }

        span {
          font-size: 1rem;
          color: #5eead4;
          background-color: #042f2e;
          padding: 4px 8px;
          border-radius: 12px;
        }
      }

      li:nth-child(3) {
        font-size: 1.4rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    .profile_infos {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;

      div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        h3 {
          font-size: 1.4rem;
        }

        p {
          font-size: 1.1rem;
        }
      }
    }
  }
}
